
.SmartExport-tooltip {
	position: absolute;
	top: 0px;
	right: 100px;
	padding: 10px 8px;
	will-change: top, left;
	-webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.SmartExport-tooltip div {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.SmartExport-btn {
	position: absolute;
	bottom: 25px;
	right: 3px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border: none;
	display: inline-block;
	text-align: center;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	/*color: #FFF;
	background-color: #1f7044; /* color = Excel green */
	border-radius: 50%;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	transition: .2s ease-out;
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding: 0;
	cursor: pointer;
}

.SmartExport-btn:hover {
	--background-color: #2bbbad;
	background-color: #6bb33f; /* hover color = qlik green */
}
.SmartExport-btn i{
	line-height: 25px;
	font-size: 21px;
}

.SmartExport-btn.fab {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
	width: 55.5px;
	height: 55.5px;
	line-height: 55.5px;
	padding: 0;
	border-radius: 50%;
	transition: .3s;
}

.SmartExport-btn.fab:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.SmartExport-btn.fab i{
	line-height: 55.5px;
	font-size: 2.2rem;
}
/* The Modal Ask(background) */
.modalAsk {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25%; /* Location of the box */
    left: 35%;
    top: 0;
    width: 300px; /* Full width */
    height: 150px; /* Full height */
   
}
}
.modalAsk .modalAsk-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modalAsk .modalAsk-header {
    padding: 2px 16px;
    background-color: #1f7044;
    color: white;
    font-size: 15px;
}
.modalAsk .modalAsk-body {padding: 2px 16px;}

.modalAsk .close {
    color: white;
    float: right;
    font-size: 15px;
    font-weight: bold;
}
.MSExcelbtn {
    background-color: #1f7044; /* Blue */
    border: none;
    color: white;
    padding: 10px 0px;
    width:80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.MSExcelbtn.active, MSExcelbtn:active, .MSExcelbtn.focus, OKbutton:focus, .MSExcelbtn:hover {
    background-color: rgb(0,128,0);
    border-color: #204d74;
}

.MSWordbtn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 0px;
    width:80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.MSWordbtn.active, MSWordbtn:active, .MSWordbtn.focus, OKbutton:focus, .MSWordbtn:hover {
    background-color: #286090;
    border-color: #204d74;
}

.MSPDFbtn {    
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 10px 0px;
    width:80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.MSPDFbtn.active, MSPDFbtn:active, .MSPDFbtn.focus, OKbutton:focus, .MSPDFbtn:hover {
    background-color:#c9302c;
    border-color:#ac2925;
}
.Port_land_form{
    width: 200px;
    float: left;
    position: relative;
    top: 3.5%;
    left: 51%;
    color: #dd4e42;
}
.Cancelbutton {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 70px;
}
.Cancelbutton:active, .Cancelbutton:hover {
    background-color:#c9302c;
    border-color:#ac2925;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    font-size: 15px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.XLSbtn{
    color: #FFF;
    width:60px;
    background-color: #1f7044;
    cursor: pointer;
    opacity:1;
    float: left;
    z-index:3;
    position:relative;
    top:5%;
    left:50%;
}
.Wordbtn{
    color: #FFF;
    width:60px;
    background-color: #2a5699;
    cursor: pointer;
    opacity:1;
    float: left;
    z-index:3;
    position:relative;
    top:5%;
    left:50%;
}
.PDFbtn{
    color: #FFF;
    width:60px;
    background-color: #dd4e42;
    cursor: pointer;
    opacity:1;
    float: left;
    z-index:3;
    position:relative;
    top:5%;
    left:50%;
}